body {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

main {
    margin: 0 auto;
    width: 50%;
}

/* Make all Image same size */
img {
    float: left;
    width:  75%;
    height: 75%;
    object-fit: cover;
}

nav {
  float: left;
  position: fixed;
  top: 25%;
  height: 50%;
  width: 30%;

}
