body {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

main {
    margin: 0 auto;
    width: 66%;
}

/* Make all Image same size */
img {
    width:  75%;
    height: 75%;
    object-fit: cover;
    display: block;
}

nav {
    float: left;
    left: 0;
    position: fixed;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav > ul > a {
    color: #222;
    font-weight: 600;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.header-image{
    background-image:url(http://localhost:1313/media/jesus1.webp);
    background-size:cover;
    position:relative;
    height:100vh;
}

.header-text{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color:#fff;
    font-size:36px;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}

.centered{
    display: block;
    text-align:center;
}

.polyptychon-wrapper{
    display: flex;
    flex-direction: column;
}

.polyptychon-wrapper div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.polyptychon-wrapper img{
    width: 400px;
    height: 300px;
    margin: 5px;
}

.blocksatz{
    text-align: justify;
}
