body {
    font-family: 'Inter', sans-serif;
}

main {
    margin: 0 auto;
    width: 50%;
}

/* Make all Image same size */
img {
    float: left;
    width:  75%;
    height: 75%;
    object-fit: cover;
}
