@import "tailwindcss";

@layer base {
  h1 {
    @apply text-xl font-bold mb-2 text-gray-800 bg-violet-200;
  }
  /* Used in about-me as interviewer  */
  h2 {
    @apply italic mb-1 mt-2 text-gray-800;
  }
  main > * > a {
    @apply font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline hover:text-gray-800;
  }
}


body {
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

