{{- /*
single event block
@examples

  {{< event >}}

*/}}

{{- $datum := or (.Get "datum") "" }}
{{- $ort := or (.Get "ort") "" }}
{{- $event := or (.Get "event") "" }}
{{- $stadt := or (.Get "stadt") "" }}
{{- $link := or (.Get "link") "" }}


{{- $microphone := resources.Get "media/microphone-with-stand.svg" }}
<div class="event flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-4 p-4 border-b border-gray-300 text-base sm:text-xl font-sans">
  <img class="w-10 h-10" src="{{ $microphone.RelPermalink }}"/>
  <div>
    <div class="w-full sm:w-32 text-gray-700 font-semibold">Am {{ $datum }}:</div>
    <div class="w-full sm:w-64 text-blue-800 font-bold">{{ $event }}</div>
  </div>
  <div>
    <div class="w-full sm:w-40 text-gray-600">Location: {{ $ort }}</div>
    <div class="w-full sm:w-40 text-gray-500 italic">({{ $stadt }})</div>
  </div>
  {{ if $link }}
  <div>
    <div class="w-full sm:w-40 text-gray-600 relative overflow-hidden group">
        <!-- Pink background that slides up -->
        <div class="absolute inset-0 bg-pink-500 transform translate-y-full transition-transform duration-300 group-hover:translate-y-0"></div>
        <!-- Your link -->
        <a
          href="{{ $link }}"
          class="relative z-5 block transition-colors duration-300 hover:text-black py-1 px-2 max-sm:text-blue-600 max-sm:underline"
        >
          Zur Veranstaltung
        </a>
    </div>
  </div>
  {{ end }}

</div>
