{{- $src := or (.Get "src") "" }}
{{- $id := or (.Get "id") "" }}
<!-- I need to add the css here, -->
<!-- because I need to change the url() dynamically. -->
<!-- I know it dirty, but it works... -->
<style>
#parallax-{{ $id }} {
  /* The image used */
    {{ $pic := resources.Get $src }}
    background-image: url( {{ $pic.RelPermalink }} );
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<div class="parallax mb-6" id="parallax-{{ $id }}">
</div>


